body {
    font-family: 'Anaheim';
    font-size: 1.2em;
  }
  
  #outside {
    background-color: #F3F8B3;
    padding-top: 20px;
    padding-bottom: 25px;
  }
  
  h1 {
    font-size: 1.5em;
    text-align: center;
  }
  
  form {
    
    margin: 0 auto;
    width: 65%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    
  }
  #survey-form {
    background-color: white;
  }
  
  fieldset { 
    border:1px solid lightgray;
    margin: 10px;
   }
  button {
    margin: .5em;
    font-size: 1em;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 2px;  
  }
  #submitbutton {
    display: flex; 
    justify-content: center;
  }
  
  